<!DOCTYPE html>
<html>
<head>
    <title>Manage Items Needed</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav>
    <a href="/">Items In Household</a>
    <a href="item_types">Item Types</a>
    <a href="shopping_lists">Shopping Lists</a>
    <a href="items_needed" type="current">Manage Items Needed</a>
    <a href="recipes">Manage Recipes</a>
    <a href="ingredients">Manage Ingredients</a>
</nav>

<!-- Table to display items needed -->
<table id="ItemsNeeded-table">
    <thead>
        <tr>
            <th>Shopping List</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each itemsNeeded}}
        <tr data-item-id={{this.Item_ID}} data-list-id={{this.Shopping_List_ID}}>
            <td>{{this.Shopping_List}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Quantity}}</td>
            <td><button onclick="editItemNeeded({{this.Item_ID}}, {{this.Shopping_List_ID}})">Edit</button></td>
            <td><button onclick="deleteItemNeeded({{this.Item_ID}}, {{this.Shopping_List_ID}}, '{{this.Name}}', '{{this.Shopping_List}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add a New Item Needed</h2>
<form id="add-item-needed-form" method="POST" action="/add-item-needed-form">
    <label for="input-List-ID">Shopping List: </label>
    <select name="input-List-ID" id="input-List-ID">
        <option value="" disabled selected>Select a Shopping List</option>
        {{#each shoppingLists}}
        <option value="{{this.Shopping_List_ID}}">{{this.Name}}</option>
        {{/each}}
    </select>
    <label for="input-Item-Name">Item Name: </label>
    <input type="text" name="input-Item-Name" id="input-Item-Name" required pattern="\S(.*\S)?" title="Item name cannot start or end with a space">
    <label for="input-Quantity">Quantity: </label>
    <input type="number" name="input-Quantity" id="input-Quantity" min="0" required>
    <input type="submit" value="Submit">
</form>

<h2>Update an Item Needed</h2>
<form id="update-item-needed-form" onsubmit="updateItemNeeded()">
    <label for="input-List-ID-update">Shopping List: </label>
    <select name="input-List-ID-update" id="input-List-ID-update" onchange="updateItemSelections(this.value)">
        <option value="" disabled selected>Select a Shopping List</option>
        {{#each shoppingLists}}
        <option value="{{this.Shopping_List_ID}}">{{this.Name}}</option>
        {{/each}}
    </select>
    <label for="input-Item-ID-update">Item: </label>
    <select name="input-Item-ID-update" id="input-Item-ID-update">
        <option value="" disabled selected>Select an Item</option>
        {{#each itemsNeeded}}
        <option class="{{this.Shopping_List_ID}}" value="{{this.Item_ID}}" disabled hidden>{{this.Name}}</option>
        {{/each}}
    </select>
    <label for="input-Quantity-update">New Quantity: </label>
    <input type="number" name="input-Quantity-update" id="input-Quantity-update" min="0" required>
    <input type="submit" value="Update">
</form>

<script>
    function updateItemSelections(listID) {
        document.getElementById('input-Item-ID-update').selectedIndex = 0;
        let itemsNeeded = document.querySelectorAll('select[name="input-Item-ID-update"] option');
        for (let i = 0; i < itemsNeeded.length; i++) {
            if (itemsNeeded[i].classList.contains(listID)) {
                itemsNeeded[i].removeAttribute('disabled');
                itemsNeeded[i].removeAttribute('hidden');
            } else {
                itemsNeeded[i].setAttribute('disabled', 'disabled');
                itemsNeeded[i].setAttribute('hidden', 'hidden');
            }
        }
    }

    function updateItemNeeded() {
        const data = {
            Shopping_List_ID: document.querySelector('#input-List-ID-update').value,
            Item_ID: document.querySelector('#input-Item-ID-update').value,
            Quantity: document.querySelector('#input-Quantity-update').value
        }
        fetch('/update-item-needed-form', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (response.ok) {
                alert('Item Needed Updated');
                fetch('/items_needed');
            } else {
                alert('Failed to update item needed');
            }
        });
    }

    function editItemNeeded(itemID, listID) {
        const shoppingListField = document.querySelector('#input-List-ID-update');
        const itemField = document.querySelector('#input-Item-ID-update');
        shoppingListField.value = listID;
        updateItemSelections(listID);
        itemField.value = itemID;
        shoppingListField.scrollIntoView({ behavior: 'smooth', block: 'center'})
    }

    function deleteItemNeeded(itemID, listID, itemName, listName) {
        if (!confirm(`Are you sure you want to delete ${itemName} from ${listName}?\nThis action cannot be undone.`)) {
            return;
        }
        fetch(`/delete-item-needed/${itemID}/${listID}`, {
            method: 'DELETE'
        }).then(response => {
            if (response.status === 204) {
                document.querySelector(`tr[data-item-id="${itemID}"][data-list-id="${listID}"]`).remove();
            } else {
                console.error('Failed to delete item.');
            }
        });
    }
</script>

</body>
</html>
