<!--
Citation for the following file:
Date: 03/16/2025
Adapted from the OSU CS340 eCampus Node.js Starter App Guide
Repo: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->
<!DOCTYPE html>
<html>
<head>
    <title>Shopping Lists Management</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav>
    <a href="/">Items In Household</a>
    <a href="item_types">Item Types</a>
    <a href="shopping_lists" type="current">Shopping Lists</a>
    <a href="items_needed">Manage Items Needed</a>
    <a href="recipes">Manage Recipes</a>
    <a href="ingredients">Manage Ingredients</a>
</nav>

<!-- Table to display shopping lists -->
<table id="ShoppingLists-table">
    <thead>
        <tr>
            {{#each lists.[0]}}
            <th>{{@key}}</th>
            {{/each}}
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each lists}}
        <tr data-value={{this.Shopping_List_ID}}>
            <td>{{this.Shopping_List_ID}}</td>
            <td>{{this.Name}}</td>
            <td><button onclick="editList({{this.Shopping_List_ID}})">Edit</button></td>
            <td><button onclick="deleteList({{this.Shopping_List_ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add a New Shopping List</h2>
<form id="add-list-form" method="POST" action="/add-list-form">
    <label for="input-Name">Name: </label>
    <input type="text" name="input-Name" id="input-Name">
    <input type="submit" value="Submit">
</form>

<h2>Update a Shopping List</h2>
<form id="update-list-form">
    <label for="input-Name-update">Shopping list name: </label>
    <select name="input-Name-update" id="input-Name-update">
        <option value="">Select a List</option>
        {{#each lists}}
        <option value="{{this.Shopping_List_ID}}">{{this.Name}}</option>
        {{/each}}
    </select>

    <label for="input-Name-new">New Name: </label>
    <input type="text" name="input-Name-new" id="input-Name-new">
    <input type="submit" value="Update" onclick="updateList()">
</form>

<script>
    // Delete list function
    function deleteList(listID) {
        fetch(`/delete-list/${listID}`, {
            method: 'DELETE'
        }).then(response => {
            if (response.ok) {
                document.querySelector(`tr[data-value="${listID}"]`).remove();
            } else {
                console.error('Failed to delete shopping list.');
            }
        });
    }

    function editList(typeID) {
        const typeSelect = document.querySelector('#input-Name-update');
        const newNameField = document.querySelector('#input-Name-new');
        typeSelect.value = typeID;
        newNameField.scrollIntoView({ behavior: 'smooth', block: 'center'});
        newNameField.focus({ preventScroll: true});

    }

    // Update item type function
    function updateList() {
        const data = {
            Shopping_List_ID: document.querySelector('#input-Name-update').value,
            Name: document.querySelector('#input-Name-new').value
        }

        fetch('/update-list-form', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (response.ok) {
                alert('List updated successfully.');
                fetch('/item_types');
            } else {
                alert('Failed to list.');
            }
        });
    }
</script>

</body>
</html>
